#!/bin/bash

#PBS -N <%= job.hash %>
#PBS -o <%= log.file %>
#PBS -q <%= queue %>
#PBS -j oe
#PBS -l select=<%= resources$ncpus %>:ncpus=<%= resources$ncpus %>:mem=<%= resources$memory %>

## Comment - cd ${PBS_O_WORKDIR}

## Resources needed:
<% if (length(resources) > 0) {
  opts <- unlist(resources, use.names = TRUE)
  opts <- sprintf("%s=%s", names(opts), opts)
  opts <- paste(opts, collapse = ",") %>
#PBS -l <%= opts %>
<% } %>

<%= if (array.jobs) sprintf("#PBS -J 1-%i", nrow(jobs)) else "" %>

## Launch R and evaluated the batchtools R job
Rscript -e 'batchtools::doJobCollection("<%= uri %>")'

